<div class="container">
  <div class="jumbotron">
    <h1>My Personal Home page</h1>
    <%= link_to 'About Path', pages_about_path %>

    <%= link_to "BLog", posts_path, class: 'btn btn-primary'  %>
  </div>
</div>
